<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <%- include("partials/header") %>
      <main>
        <div class="about-main-content">
            <h2>About Us</h2>
        <p><b>Whispers of Flowers</b> is a sanctuary for those who appreciate the quiet yet profound language of flowers. Every bloom carries a story, a sentiment, and a memory, and our website is dedicated to exploring the beauty, meaning, and psychology behind these delicate wonders.</p>

        <p>Our mission is to help people connect with nature on a deeper level, understand the emotions flowers can evoke, and learn how to use them to enrich their lives. From brightening a room to conveying heartfelt messages, flowers have been cherished across cultures for centuries, and we aim to celebrate their timeless significance.</p>

        <p>Through our carefully curated content, detailed flower profiles, and insights into flower psychology, we invite our visitors to explore not just the aesthetics of flowers but also their emotional and symbolic dimensions. Whether you are a gardener, a flower enthusiast, or simply someone looking for inspiration and positivity, Whispers of Flowers provides a window into the enchanting world of blossoms.</p>

        <p>We believe that every flower has a story, and every story has a feeling—our platform is here to help you discover, understand, and cherish them.</p>
        </div>
      </main>
      <%- include("partials/footer") %>
</body>
</html>