<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("partials/header")  %>

   <main>

    <div class="contact-content">
      <h2>Contact Us</h2>
      <p>We&apos;d love to hear from you! Whether you have questions, suggestions, or simply want to share your love for flowers, feel free to reach out. Your thoughts help us grow and continue bringing the beauty and wisdom of flowers to life.</p>

      <h2>Get in touch with us:</h2>
      <ul>
        <li><b>Email:</b> info@whispersofflowers.com</li>
        <li><b>Phone:</b> +91-9876543210</li>
        <li><b>Address:</b> 123 Blossom Lane, Flower City, India</li>
      </ul>


      <p>At <b>Whispers of Flowers</b>, your voice matters. We&apos;re here to listen, respond, and share the joy of flowers with everyone.</p>
    </div>

   </main>

  <%- include("partials/footer")  %>
</body>
</html>